<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgvx5vmpcWZznoA9L8K1a2U3SPMVVOmnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>746470603970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskMangemnetApp</string>
	<key>PROJECT_ID</key>
	<string>task-management-825a3</string>
	<key>STORAGE_BUCKET</key>
	<string>task-management-825a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746470603970:ios:afb63112718310bcda0f5b</string>
</dict>
</plist>